
.App {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}

.main--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
}
.bottom {
  width: 100%;
  height: 100px;
  padding: 0 20px 10px 20px;
}
.left--container {
  max-width: 260px;
  height: 100%;
  padding: 20px;
}
.right--container {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 0;
}

/* Sidebar */
.sidebar--container {
  width: 100%;
  background: #0e0e0e8a;
  box-shadow: 0 0 20px #00000062;
  height: 100%;
  border-radius: 10px;
}
.sidebar-inner--container {
  width: 100%;
  height: 100%;
  padding: 3px;
}
.logo--container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
}
#logo {
  width: 100%;
  cursor: pointer;
}
.profile--container {
  width: 100%;
  height: 120px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.profile-avatar--container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #121212;
}
.profile-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-name--container {
  width: 80%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-name {
  font-size: 13px;
  color: #ffffff;
}
.nav-list--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-list-item {
  cursor: pointer;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #dbdbdb;
  padding: 0 16px 0 16px;
  transition: all .5s ease;
}
.nav-list-item:hover {
  opacity: .6;
  transition: all .5s ease;
}
.nav-list-icon {
  width: 16px;
}
.nav-list-p {
  font-size: 12px;
  margin-left: 12px;
}

/* Playerbar */
.playerbar--container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #0e0e0e8a;
  box-shadow: 0 0 20px #00000062;
}

/* Login */
.login--container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.login-central--container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-header--container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-logo {
  width: 300px;
}
.login-button {
  cursor: pointer;
  background: linear-gradient(90deg,#1DD460, #00531E);
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 26px;
  font-size: 15px;
}


/* Searchbar */
.searchbar--container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #0e0e0e8a;
  box-shadow: 0 0 20px #00000062;
  padding: 10px;
}
.searchbar-inner--container {
  width: 100%;
  height: 100%;
}
.searchbar-top--container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ArtistItem & AlbumItem*/
.artist-item--container, 
.album-item--container {
  width: 120px;
  height: 200px;
  margin-right: 16px;
}
.artist-item-inner--container,
.album-item-inner--container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #16161644, #0c0c0cdd, #16161645);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px #00000062;
  transition: all 1s ease;
}
.artist-item-inner--container:hover {
  opacity: 0.5;
  transition: all 1s ease;
}
.artist-item-top,
.album-item-top {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.artist-item-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.album-item-image { 
  width: 100px;
  height: 100px;
}
.artist-item-center,
.album-item-center {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artist-item-name {
  font-size: 13px;
  color: #ffffff;
}
.artist-item-type {
  font-size: 8px;
  color: rgb(176, 176, 176);
}
.items--container {
  width: 100%;
  height: 300px;
}

/* TrackItem */
.track-item--container {
  width: 100%;
  height: 30px;
  background: green;
  padding: 2px;
}

.track-item-inner--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* dinamic components */
.items--container {
  overflow-y: auto;
  padding: 6px 12px 6px 12px;
  scroll-behavior: smooth;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  /* background-color: gold; */
  flex-direction: column;
}
.items-inner--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.items-header--container {
  width: 100%;
  height: 30px;
}